<div class="fondo-modal" *ngIf="mostrar">

  <div class="tarjeta-vintage sombra-retro caja-modal">

    <div class="encabezado-modal">
      <h2 class="titulo-modal" *ngIf="!modoEditar">Registrar Nuevo Lector</h2>
      <h2 class="titulo-modal" *ngIf="modoEditar">Modificar Personal</h2>
      <button class="boton-cerrar-x" (click)="cerrar()">X</button>
    </div>

    <form class="formulario-modal">
      <div class="grupo-formulario">
        <label class="etiqueta-formulario">Nombre de Usuario o Seudonimo</label>
        <input type="text" class="entrada-vintage" [(ngModel)]="username" name="username" placeholder="Ej: Redactor90">
      </div>

      <div class="grupo-formulario">
        <label class="etiqueta-formulario">Asignar Cargo / Rol</label>
        <select class="entrada-vintage select-retro" [(ngModel)]="role" name="role">
          <option value="ADMIN">Director (Admin)</option>
          <option value="EDITOR">Editor</option>
          <option value="COMENTADOR">Comentador</option>
          <option value="USUARIO">Suscriptor (Usuario)</option>
        </select>
      </div>

      <div class="grupo-formulario">
        <label class="etiqueta-formulario">Contrasena de Acceso {{ modoEditar ? '(Opcional)' : '' }}</label>
        <input type="password" class="entrada-vintage" [(ngModel)]="password" name="password" [placeholder]="modoEditar ? 'Dejar en blanco para mantener la actual' : '••••••••'">
      </div>

      <div *ngIf="mensajeError" style="color: #8b0000; font-weight: bold; margin-bottom: 15px; font-size: 13px; text-align: center;">
        [FE DE ERRATAS]: {{ mensajeError }}
      </div>
      <div *ngIf="mensajeExito" style="color: #005a00; font-weight: bold; margin-bottom: 15px; font-size: 13px; text-align: center;">
        [BOLETIN OFICIAL]: {{ mensajeExito }}
      </div>

      <div class="acciones-modal">
        <button type="button" class="boton-retro-secundario" (click)="cerrar()">Cancelar</button>
        <button type="button" class="boton-retro" (click)="guardarUsuario()">
          {{ modoEditar ? 'Guardar Cambios' : 'Dar de Alta' }}
        </button>
      </div>
    </form>

  </div>
</div>
