<div class="fondo-modal" *ngIf="mostrar">

  <div class="tarjeta-vintage sombra-retro caja-modal animate__animated animate__fadeInDown">

    <div class="encabezado-modal">
      <h2 class="titulo-modal" *ngIf="!modoEditar">Crear Usuario</h2>
      <h2 class="titulo-modal" *ngIf="modoEditar">Modificar Personal</h2>
      <button class="boton-cerrar-x" (click)="cerrar()">X</button>
    </div>

    <form class="formulario-modal">
      <div class="grupo-formulario">
        <label class="etiqueta-formulario">Nombre de Usuario o Seudonimo</label>
        <input type="text" class="entrada-vintage" [(ngModel)]="username" name="username" placeholder="Ej: Redactor90">
      </div>

      <div class="grupo-formulario">
        <label class="etiqueta-formulario">Asignar Cargo / Rol</label>
        <select class="entrada-vintage select-retro" [(ngModel)]="role" name="role">
          <option value="ADMIN">Director (Admin)</option>
          <option value="EDITOR">Editor</option>
          <option value="COMENTADOR">Comentador</option>
          <option value="USUARIO">Suscriptor (Usuario)</option>
        </select>
      </div>

      <div class="grupo-formulario">
        <label class="etiqueta-formulario">Contrasena de Acceso {{ modoEditar ? '(Opcional)' : '' }}</label>
        <input type="password" class="entrada-vintage" [(ngModel)]="password" name="password" [placeholder]="modoEditar ? 'Dejar en blanco para mantener la actual' : '••••••••'">
      </div>

      <div *ngIf="mensajeError" class="alerta-error-modal">
        Error: {{ mensajeError }}
      </div>

      <div *ngIf="mensajeExito" class="alerta-exito-modal">
        Éxito: {{ mensajeExito }}
      </div>

      <div class="acciones-modal">
        <button type="button" class="boton-retro-secundario" (click)="cerrar()">
          <i class="fa-solid fa-xmark icono-btn"></i> Cancelar
        </button>
        <button type="button" class="boton-retro" (click)="guardarUsuario()">
          <i class="fa-solid fa-floppy-disk icono-btn"></i> {{ modoEditar ? 'Guardar Cambios' : 'Dar de Alta' }}
        </button>
      </div>
    </form>

  </div>
</div>
