<nav class="barra-superior tarjeta-vintage sombra-retro">
  <div class="linea-creditos">
    <div class="bloque-rol">
      <span class="prefijo-rol">Credencial Activa:</span>
      <span class="etiqueta-rol"><i class="fa-solid fa-id-badge icono-nav"></i>{{ rolActual }}</span>
    </div>
    <div class="bloque-salida">
      <button class="boton-cerrar-edicion" routerLink="/inicio-sesion">
        <i class="fa-solid fa-right-from-bracket icono-nav"></i> Cerrar sesion
      </button>
    </div>
  </div>

  <div class="logo-contenedor">
    <h1 class="titulo-marca">Periodicazo</h1>
  </div>

  <ul class="enlaces-navegacion">
    <li *ngIf="rolActual === 'ADMIN'">
      <a routerLink="/panel-principal" routerLinkActive="activo">
        <i class="fa-solid fa-chart-line icono-nav"></i>Estadisticas
      </a>
    </li>
    <li>
      <a routerLink="/noticias" routerLinkActive="activo">
        <i class="fa-solid fa-newspaper icono-nav"></i>Noticias
      </a>
    </li>
    <li>
      <a routerLink="/horoscopos" routerLinkActive="activo">
        <i class="fa-solid fa-moon icono-nav"></i>Horoscopos
      </a>
    </li>
    <li *ngIf="rolActual === 'ADMIN'">
      <a routerLink="/usuarios" routerLinkActive="activo">
        <i class="fa-solid fa-users icono-nav"></i>Usuarios
      </a>
    </li>
  </ul>
</nav>
