<div class="contenedor-modulo">
  <div class="encabezado-modulo">
    <h2 class="titulo-marca">Lista de Usuarios</h2>
    <button class="boton-retro" (click)="abrirParaCrear()">
      <i class="fa-solid fa-user-plus icono-btn"></i> Crear Usuario
    </button>
  </div>

  <div *ngIf="mensajeError" class="alerta-error-retro-centro">
    [FE DE ERRATAS]: {{ mensajeError }}
  </div>

  <div class="tarjeta-vintage sombra-retro contenedor-tabla">
    <table class="tabla-retro">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre o Seudonimo</th>
        <th>Cargo / Rol</th>
        <th>Acciones Editoriales</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of usuarios">
        <td class="celda-destacada">#{{ u.id }}</td>
        <td>{{ u.username }}</td>
        <td><span class="etiqueta-rol-tabla">{{ u.role }}</span></td>
        <td>
          <button class="boton-accion-tabla" (click)="abrirParaEditar(u)">
            <i class="fa-solid fa-user-gear icono-btn"></i> Modificar
          </button>

          <button class="boton-accion-tabla texto-rojo" (click)="suspenderUsuario(u.id)">
            <i class="fa-solid fa-user-slash icono-btn"></i> Eliminar
          </button>
        </td>
      </tr>
      <tr *ngIf="usuarios.length === 0">
        <td colspan="4" class="mensaje-vacio-tabla">
          No hay personal registrado en los rotativos aún.
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-formulario-usuario
  [mostrar]="modalVisible"
  [modoEditar]="modoEdicionActivo"
  [usuarioAEditar]="usuarioSeleccionado"
  (alCerrar)="cerrarModal()">
</app-formulario-usuario>

