<div class="envoltura-comentarios">
  <button *ngIf="esPantallaIndependiente" class="boton-volver" routerLink="/noticias">VOLVER A PORTADA</button>

  <div *ngIf="esPantallaIndependiente" class="tarjeta-vintage sombra-retro tarjeta-independiente">
    <p class="subtitulo-independiente">Seccion de Comentarios</p>
    <h2 class="titulo-independiente">{{ articuloTitulo }}</h2>
  </div>

  <h3 class="titulo-comentarios">Cartas al Director (Comentarios)</h3>

  <div *ngIf="rolActual === 'ADMIN' || rolActual === 'COMENTADOR'" class="tarjeta-vintage sombra-retro caja-nuevo-comentario">
    <textarea class="entrada-vintage area-texto-corta" placeholder="Escriba su opinion al respecto..." [(ngModel)]="nuevoContenido" name="contenido"></textarea>

    <div *ngIf="mensajeError" class="alerta-error-comentario">
      [FE DE ERRATAS]: {{ mensajeError }}
    </div>

    <div class="alinear-derecha mt-15">
      <button class="boton-retro" (click)="publicarComentario()">Enviar Comentario</button>
    </div>
  </div>

  <div class="lista-comentarios">
    <div class="item-comentario" *ngFor="let c of comentarios">
      <div class="cabecera-comentario">
        <span class="autor-comentario">
          <i class="fa-solid fa-pen-nib icono-comentario"></i>
          {{ c.nombreComentador || 'Lector Anonimo' }}
        </span>
        <span class="fecha-comentario" *ngIf="c.fecha">
          <i class="fa-solid fa-clock icono-comentario"></i>
          {{ c.fecha | date:'dd/MM/yyyy - hh:mm a' }}
        </span>
      </div>
      <p class="texto-comentario">{{ c.contenido }}</p>
    </div>

    <div *ngIf="comentarios.length === 0" class="comentarios-vacios">
      Aun no hay correspondencia sobre este articulo. Sea el primero en escribir.
    </div>
  </div>
</div>
